version: '3'
services:
  memory_app_db:
    image: postgres
    container_name: memory_app_db
    volumes:
      - memory_app_db_volume:/data/postgres
    environment:
      POSTGRES_PASSWORD: 'postgres'
      POSTGRES_HOST_AUTH_METHOD: 'trust'
    ports:
      - '5444:5432'

  memory_app_back:
    image: edimossilva/memory_app_rails
    container_name: memory_app_back
    volumes:
      - ./backend_rails:/app
    depends_on:
      - memory_app_db
    env_file:
      - ./backend_rails/.env
    environment:
      RUBYOPT: '-W:no-deprecated -W:no-experimental'
      RAILS_MASTER_KEY: '${RAILS_MASTER_KEY}'
      DATABASE_USERNAME: 'postgres'
      DATABASE_PASSWORD: 'postgres'
      DATABASE_HOST: 'memory_app_db'
      DATABASE_PORT: '5432'
    tty: true
    command: rails s -b 0
    # command: sh
    ports:
      - '3000:3000'

  memory_app_vue:
    image: edimossilva/memory_app_vue
    container_name: memory_app_vue
    volumes:
      - ./frontend_vue:/app
    ports:
      - '8080:8080'
    tty: true
    command: sh -c "yarn && yarn serve"
    network_mode: host

  memory_app_e2e:
    image: cypress/included:3.2.0
    container_name: memory_app_e2e
    working_dir: /e2e
    volumes:
      - ./e2e/cypress:/e2e
    network_mode: host
    entrypoint: ''
    command: sh
    tty: true

volumes:
  memory_app_db_volume:
# docker-compose build
# docker-compose up -d
# docker-compose exec memory_app_back rake db:create
# docker-compose exec memory_app_back rake db:migrate
# docker-compose exec memory_app_back rspec
# docker-compose exec memory_app_vue yarn test:unit
